{% extends 'baseAdmin.html.twig' %}
{% block body %}
<h1 style="font-weight: bold">Liste des Reclamation</h1>

<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
    <tr class="gradeC">
        <th>Id</th>
        <th>Etat</th>
        <th>Date</th>
        <th>Description</th>
        <th>IdParent</th>


    </tr>
    </thead>
    {% for reclamation in reclamations %}

        <tr class="gradeC">
            <td>{{ reclamation.id }}</td>
            <td>{{ reclamation.etat }}</td>
            <td>{{ reclamation.date|date("m/d/Y")  }}</td>
            <td>{{ reclamation.description }}</td>
            <td>{{ reclamation.idParent }}</td>


        </tr>

    {% endfor %}
</table>
{% endblock %}