{% extends'baseAdmin.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}

    <h1 style="margin-left: 30%;">Ajouter un cours</h1>

    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.matiere,{'attr':{'placeholder':"matiere"}}) }}
    {{ form_row(form.description,{'attr':{'placeholder':"description"}}) }}
    {{ form_row(form.duree,{'attr':{'placeholder':"duree"}}) }}
    {{ form_row(form.seats,{'attr':{'placeholder':"nombre de places disponible"}}) }}
    {{ form_row(form.age,{'attr':{'placeholder':"age"}}) }}

    <button type="submit" class="btn-primary btn"> modifier </button>


    {{ form_end(form) }}
{% endblock %}