
{% trans_default_domain 'FOSUserBundle' %}
<link rel="stylesheet" href="{{ asset('login1/style1.css') }}">
<h1 style="margin-bottom: 20px;margin-left:40%;margin-top: 0px;"> <img src="{{ asset('login1/jardin.png') }}" style="width: 350px;height: 300px;"></h1>
<div class="login-wrap">
    <div class="login-html">
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
        <div class="login-form">

            <div class="sign-up-htm">
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

    {{ form_widget(form) }}
                <div class="group">
                    {{ form_widget(form.email, { 'attr': {'class': 'input'} }) }}
                </div>

<div>
        <input type="submit" class="button" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
{#separation#}
            </div>
        </div>
    </div>
</div>