{% extends'baseAdmin.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}


    <h1 style="margin-left: 30%;">Ajouter un Bus</h1>

    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.matricule,{'attr':{'placeholder':"matricule"}}) }}
    {{ form_row(form.nbPlaces,{'attr':{'placeholder':"matricule"}}) }}
    {{ form_row(form.ligne,{'attr':{'placeholder':"ligne"}}) }}

    <button type="submit" class="btn-primary btn"> Ajouter </button>
    {{ form_end(form) }}
{% endblock %}