{% extends'baseAdmin.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}


    <h1 style="margin-left: 30%;">Ajouter Personnel</h1>
    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}

    <span  id="span2">le nom ne contient pas des chiffres</span>
    {{ form_row(form.nom, {'attr':{'placeholder':"nom.."}}) }}
    <span  id="span1">le prénom ne contient pas des chiffres</span>
    {{ form_row(form.prenom,{'attr':{'placeholder':"prenom.."}}) }}
    <span  id="span4">l'age entre 25 et 40</span>
    {{ form_row(form.age,{'attr':{'placeholder':"age"}}) }}
    <span  id="span5">le nombre d'heures est entre 10 et 15</span>
    {{ form_row(form.nbH,{'attr':{'placeholder':"Nombre heures.."}}) }}
    <span  id="span6">le prix de l'heure contient des chiffres</span>
    {{ form_row(form.prixH,{'attr':{'placeholder':"prix heure.."}}) }}
    {{ form_row(form.categorie, {'attr': {'placeholder':'Description categorie...'}}) }}
    {{ form_row(form.image, {'attr': {'placeholder':'Description categorie...'}}) }}

    <button type="submit" class="btn-primary btn"> Ajouter Personnel </button>
    {{ form_end(form) }}

    <script src="{{ asset('js/vendor/jquery-3.2.1.min.js') }}"></script>
    <script>
        $(document).ready(function () {

            $("#span2").hide();
            $("#span1").hide();
            $("#span4").hide();
            $("#span5").hide();
            $("#span6").hide();

            $('#jardinbundle_personnel_nom').keyup(function () {

                var nom = $('#jardinbundle_personnel_nom').val();
                var test=/^[A-Za-z]+$/;
                if (test.test(nom)) {

                    $('#span2').hide();

                    $('#ajouter').prop('disabled', false);

                } else {
                    $('#span2').show();



                    $('#ajouter').prop('disabled', true);
                }
            });

            $('#jardinbundle_personnel_prenom').keyup(function () {

                var prenom = $('#jardinbundle_personnel_prenom').val();
                var test=/^[A-Za-z]+$/;
                if (test.test(prenom)) {

                    $('#span1').hide();

                    $('#ajouter').prop('disabled', false);

                } else {
                    $('#span1').show();



                    $('#ajouter').prop('disabled', true);
                }
            });

            $('#jardinbundle_personnel_age').keyup(function () {

                var nom = $('#jardinbundle_personnel_age').val();
                var test=/^[0-9]+$/;
                if (test.test(nom)) {


                    $('#span4').hide();
                    $('#ajouter').prop('disabled', false);

                } else {
                    $('#span4').show();


                    $('#ajouter').prop('disabled', true);
                }

            });
            $('#jardinbundle_personnel_nbH').keyup(function () {

                var nom = $('#jardinbundle_personnel_nbH').val();
                var test=/^[0-9]+$/;
                if (test.test(nom)) {

                    $('#span5').hide();

                    $('#ajouter').prop('disabled', false);

                } else {
                    $('#span5').show();



                    $('#ajouter').prop('disabled', true);
                }
            });

            $('#jardinbundle_personnel_prixH').keyup(function () {

                var prenom = $('#jardinbundle_personnel_prixH').val();
                var test=/^[0-9]+$/;
                if (test.test(prenom)) {

                    $('#span6').hide();

                    $('#ajouter').prop('disabled', false);

                } else {
                    $('#span6').show();



                    $('#ajouter').prop('disabled', true);
                }
            });















        })
    </script>
{% endblock %}

