{% extends'baseAdmin.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    <div class="container-fluid">


        <div data-widget-group="group1">

            <div class="panel panel-default" data-widget='{"draggable": "false"}'>
                <div class="panel-heading">
                    <h2>Ajouter personnel</h2>
                    <div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
                </div>
                <div class="panel-editbox" data-widget-controls=""></div>
                <div class="panel-body">
                    <form action="#" class="form-horizontal row-border">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nom</label>
                            <div class="col-sm-8">
                                {{ form_widget(form.nom, {'attr': {'class': 'form-control','placeholder':'name of the monument ...'}}) }}
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Prenom</label>
                            <div class="col-sm-8">
                                {{ form_widget(form.prenom, {'attr': {'class': 'form-control','placeholder':'name of the monument ...'}}) }}
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Age</label>
                            <div class="col-sm-8">
                              {{ form_widget(form.age, {'attr': {'class': 'form-control','placeholder':'name of the monument ...'}}) }}
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre d'heures</label>
                            <div class="col-sm-8">
                                {{ form_widget(form.nbH, {'attr': {'class': 'form-control','placeholder':'name of the monument ...'}}) }}
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Prix Heure</label>
                            <div class="col-sm-8">
                                {{ form_widget(form.prixH, {'attr': {'class': 'form-control','placeholder':'name of the monument ...'}}) }}
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Catégorie</label>
                            <div class="col-sm-8">

                                {{ form_widget(form.categorie, {'attr': {'class': 'form-control','placeholder':'Description categorie...'}}) }}

                            </div>
                        </div>


                    </form>

                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <button class="btn-primary btn">Ajouter Personnel</button>

                        </div>
                    </div>
                </div>
            </div>




        </div>


    </div>
    {{ form_end(form) }}

{% endblock %}